body {
    box-sizing: border-box !important;
}

#ourmenu {
    border-color: red !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-width: 500px;

}

.boxone {
    background-color: grey;
    font-size: 14;
    font-weight: 200;
    color: aliceblue;
}

strong {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400 !important;
}


